<?xml version="1.0"?>

<launch>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find widowx_arm_description)/robots/widowx_arm_right.urdf.xacro'"/>

  <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 1 map origin_point 100"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" />

</launch>
