<?xml version="1.0" ?>
<robot name="widowx_arm" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find widowx_arm_description)/urdf/widowx.urdf.xacro"/>
	
	<link name="origin_point">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.001 0.001 0.001"/>
			</geometry>
		</visual>
	</link>

	<link name="base_footprint">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.001 0.001 0.001" />
			</geometry>
		</visual>
	</link>

	<joint name="fake_torso_joint" type="fixed">
		<parent link="origin_point"/>
		<child link="base_footprint"/>
		<origin xyz="0.0 0.027325 0.26035" rpy="-1.5707963268 0.0 0.0"/>
	</joint>

	<xacro:widowx_arm parent="base_footprint" prefix="">
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
	</xacro:widowx_arm>
</robot>
